/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.block-language-habittracker {
  font-family: monospace;
  font-size: 14px;
  line-height: var(--checkbox-size);
}

.habit-tracker__row {
  display: flex;
  width: 100%
}
.habit-tracker__row:hover {
  background-color: var(--color-base-10);
}
.habit-tracker__row + .habit-tracker__row {
  border-top: 1px solid var(--color-base-50);
}

.habit-name {
  flex: auto 1 0;
  text-align: start !important;
  letter-spacing: 0.05em;
}

.habit-cell {
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  padding: 8px 4px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
}
.habit-cell + .habit-cell {
  border-left: 1px solid var(--color-base-30);
}
.habit-tracker__header .habit-cell {
  text-align: end;
}

/* today */
.habit-cell:last-child {
  background-color: var(--color-base-20);
}

.habit-tick:hover {
  background-color: var(--color-base-30);
  cursor: pointer;
}

.habit-tick--true {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 24px;
}
.habit-tick--true:before {
  background: var(--checkbox-color);
  border-radius: 10px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-bottom: 100px;
  margin-left: 4px;
  margin-right: 100px;
  width: 16px;
}

.habit-tick--true + .habit-tick--true:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  width: 20px;
}

.habit-tick--true:has(+ .habit-tick--true):before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}