.cm-preview-code-block.markdown-rendered:has(.block-language-habittracker) {
	--habit-bg-ticked: var(--checkbox-color);
	--habit-text-ticked: var(--checkbox-marker-color);
	--habit-min-width: var(--file-line-width);
	--habit-border: 1px solid var(--color-base-30);
	--habit-outer-border: var(--habit-border);
	--habit-horizontal-border: var(--habit-border);
	--habit-vertical-border: var(--habit-border);
	--habit-row-bg-hover: var(--color-base-10);
	--habit-highlight-weekend: var(--color-base-10);
	--habit-tick-hover: var(--color-base-30);
	--habit-name-text-color: var(--link-color);
	--habit-header-bg-hover: var(--color-base-100);
	--habit-header-text-hover: var(--color-base-00);;
	--habit-header-font-size: 11px;
	--habit-name-font-size: 13px;
}

/* TODO add a border around it, maybe leave some space above for the Edit this block button to show up properly */
/* TODO make the title sticky if too many cells are displayed and there's not enough space */
.cm-preview-code-block.markdown-rendered:has(.block-language-habittracker) {
	border: var(--habit-outer-border);
	border-radius: var(--radius-s);
	padding: 8px;
}
.cm-preview-code-block.markdown-rendered:has(.block-language-habittracker),
.block-language-habittracker {
	width: fit-content;
	min-width: var(--habit-min-width);
	font-family: monospace;
}

.habit-tracker {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	min-width: var(--habit-min-width);
}

.habit-tracker__row {
	display: table-row;
}

.habit-tracker__row + .habit-tracker__row {
	border-top: var(--habit-horizontal-border);
}

.habit-tracker__row:not(.habit-tracker__header):hover {
	background-color: var(--habit-row-bg-hover);
}

.habit-tracker__cell {
	box-sizing: border-box;
	display: table-cell;
	font-size: var(--habit-header-font-size);
	height: 32px;
	vertical-align: middle;
	white-space: nowrap;
}
.habit-tracker__cell:not(:last-child) {
	border-right: var(--habit-vertical-border);
}

.habit-tracker__cell--name {
	padding: 0 4px;
	width: 100%;
	max-width: 100%;
}
.habit-tracker__cell--name .internal-link {
	color: var(--habit-name-text-color);
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: fit-content;
	display: inline-block;
	font-size: var(--habit-name-font-size);
	text-decoration: none;
}

.habit-tracker__cell--saturday,
.habit-tracker__cell--sunday {
	background-color: var(--habit-highlight-weekend);
}

.habit-tracker__header .habit-tracker__cell {
	text-align: center;
}

.habit-tracker__header .habit-tracker__cell[data-pretty-date] {
	position: relative;
}
.habit-tracker__header .habit-tracker__cell[data-pretty-date]:hover {
	cursor: pointer;
	background: var(--habit-header-bg-hover);
	color: var(--habit-header-text-hover);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.habit-tracker__header .habit-tracker__cell[data-pretty-date]:hover:after {
	background: var(--habit-header-bg-hover);
	color: var(--habit-header-text-hover);
	content: attr(data-pretty-date);
	left: 50%;
	padding: 2px 6px;
	position: absolute;
	top: 100%;
	white-space: nowrap;
	transform: translateX(-50%);
	border-radius: 3px;
}
.habit-tracker__header .habit-tracker__cell[data-pretty-date]:last-child:hover:after {
	left: auto;
	right: 0;
	transform: none;
	border-top-right-radius: 0;
}

.habit-tick {
	line-height: 0;
	text-align: center;
	width: 25px;
	max-width: 25px;
	min-width: 25px;
}
.habit-tick:hover {
	cursor: pointer;
	background-color: var(--habit-tick-hover);
}

.habit-tick--ticked:before {
	background: var(--habit-bg-ticked);
	content: '';
	display: inline-block;
	height: 16px;
	width: 100%;
	transition: all 0.3s ease;
	line-height: 16px;
	color: var(--habit-text-ticked);
}

.habit-tick--streak-start {
	padding-left: 4px;
}
.habit-tick--streak-start:before {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.habit-tick--streak-end {
	padding-right: 4px;
}
.habit-tick--streak-end:before {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.habit-tick--streak + .habit-tick--streak-end:before {
	content: attr(streak);
	font-weight: bold;
}
/* .habit-tick--ticked + .habit-tick--ticked {
text-align: left;
}
.habit-tick--ticked + .habit-tick--ticked:before {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
margin-left: 0;
width: 20px;
}

.habit-tick--ticked:has(+ .habit-tick--ticked):before {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
width: 100%;
}

.habit-tick--false + .habit-tick--ticked:has(+ .habit-tick--ticked):before {
width: 20px;
margin-left: 4px;
} */

@media (max-width: 399px) {
	/* iPhone 14pro and lower, portrait */
	.habit-tracker__cell {
		display: none;
	}
	.habit-tracker__cell--name,
	.habit-tracker__cell:nth-last-child(-n + 7) {
		display: table-cell;
	}
}

/* streaks */
/* for every 2+ day streaks, show a counter on the most recent date */
/* .habit-tick--ticked + .habit-tick--ticked:has(+ .habit-tick--false):before,
.habit-tick--ticked + .habit-tick--ticked:last-child:before {
text-align: center;
content: attr(streak);
line-height: 15px;
} */
