.cm-preview-code-block.markdown-rendered:has(.block-language-habittracker),
.block-language-habittracker {
	width: fit-content;
}

.habit-tracker {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
}

.habit-tracker__row {
	display: table-row;
}

.habit-tracker__row + .habit-tracker__row {
	border-top: 1px solid var(--color-base-30);
}

.habit-tracker__row:not(.habit-tracker__header):hover {
	background-color: var(--color-base-10);
}

.habit-tracker__cell {
	box-sizing: border-box;
	display: table-cell;
	font-family: monospace;
	font-size: 11px;
	height: 32px;
	min-width: 24px;
	vertical-align: middle;
}
.habit-tracker__cell:not(:last-child) {
	border-right: 1px solid var(--color-base-30);
}

.habit-tracker__cell--name {
	padding: 0 4px;
}
.habit-tracker__cell--name a {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: fit-content;
	display: inline-block;
}

.habit-tracker__cell--saturday,
.habit-tracker__cell--sunday {
	background-color: var(--color-base-10);
}

.habit-tracker__cell--name + .habit-tracker__cell {
	display: none;
}

.habit-tracker__header .habit-tracker__cell {
	text-align: center;
}

.habit-tracker__header .habit-tracker__cell[data-date] {
	position: relative;
}
.habit-tracker__header .habit-tracker__cell[data-date]:hover {
	cursor: pointer;
	background: var(--color-base-100);
	color: var(--color-base-00);
}
.habit-tracker__header .habit-tracker__cell[data-date]:hover:after {
	background: var(--color-base-100);
	color: var(--color-base-00);
	content: attr(data-date);
	left: -34px;
	padding: 2px 4px;
	position: absolute;
	top: 100%;
	white-space: nowrap;
	width: 80px;
}

.habit-tick {
	line-height: 0;
	text-align: center;
}
.habit-tick:hover {
	cursor: pointer;
	background-color: var(--color-base-30);
}

.habit-tick--true:before {
  background: var(--checkbox-color);
	border-radius: 10px;
	content: '';
	display: inline-block;
	height: 16px;
	width: 16px;
	transition: all 0.3s ease;
}


.habit-tick--true + .habit-tick--true {
	text-align: left;
}
.habit-tick--true + .habit-tick--true:before {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
	width: 20px;
}

.habit-tick--true:has(+ .habit-tick--true):before {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
}

.habit-tick--false + .habit-tick--true:has(+ .habit-tick--true):before {
	width: 20px;
	margin-left: 4px;
}

@media (max-width: 399px) {
	/* iPhone 14pro and lower, portrait */
	.habit-tracker__cell {
		display: none;
	}
	.habit-tracker__cell--name,
	.habit-tracker__cell:nth-last-child(-n + 7) {
		display: table-cell;
	}
}

/* streaks */
/* for every 2+ day streaks, show a counter on the most recent date */
.habit-tick--true + .habit-tick--true:has(+ .habit-tick--false):before,
.habit-tick--true + .habit-tick--true:last-child:before {
	text-align: center;
  content: attr(streak);
  line-height: 15px;
}